<html ng-app>
    <head>
        <script src="angular.min.js"></script>
       
    </head>
    <body>

        <input type="text" ng-model="name">
    <div style="background:{{name}}">
        <h1 id="t1">{{name}}</h1>
        <img src="{{name}}.png" alt="">
        <a href="http://www.{{name}}.com">{{name}}</a>

    </div>

    <div ng-if="name"> Hello I am a Div1</div>
    <div ng-if="!name"> Hello I am a Div2</div>
    <button ng-click="name=!name">Fire</button>
    


        <script>
                // var heading = document.getElementById("t1")
                
                // setTimeout(function(){
                //     heading.innerText = "hello world"

                // },2000)
 


            </script>
        
    </body>
</html>